    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    
    html,body{
                overflow-x: hidden;
                width: 100%;
                height: 100%;
                position:absolute;
            }
    h1{
      width:100%;
      background-color:black;
      color:white;
      text-align:center;
      font-size: 30px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      padding: 3%;
    }

    h3{
        font-size: 25px;
        font-weight: bold;
        color: black;
        font-weight: bolder;
        padding-top: 3%;
        padding-left: 3%;
        font-family: cursive;
    }

    input[type="text"]{
       display: block;
       margin-top: 2%;
       margin-left: 3%;
       background-color: white;
       color: black;
       font-size: medium;
       font-weight: 500;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       border-radius: 20px;
       border: 5px  solid black;
       padding: 2%;
       width: 60%;
    }

    .service-container{
        width:100% ;
        position: relative;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 2%;
    }

    .services{
        color: black;
        font-size: medium;
        font-weight: bolder;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: 5px solid black;
        border-radius: 20px;
        width: fit-content;
        padding: 3%;
    }

    .service-select{
        background-color: black;
        color: white;
    }

    #iron-cart{
        margin-top: 5%;
        display: none;
    }

   #iron-cart > p{
        color: black;
        font-size: medium;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 2%;
        margin-left: 3%;
      }

    #iron-cart > p > span{
        color: black;
        font-size: large;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        cursor: grab;
        user-select: none;
    }

    #iron-cart > p > .increment-unicode{
        position: absolute;
        right: 10%;
    }
    
    #iron-cart > p > .decrement-unicode{
        position: absolute;
        right: 20%;
    }

    #iron-cart > p > .no-of-item{
        position: absolute;
        right: 15%;
    }

    #nwash-cart{
        margin-top: 5%;
        display: none;
    }

   #nwash-cart > p{
        color: black;
        font-size: medium;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 2%;
        margin-left: 3%;
      }

    #nwash-cart > p > span{
        color: black;
        font-size: large;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        cursor: grab;
        user-select: none;
    }

    #nwash-cart > p > .increment-unicode{
        position: absolute;
        right: 10%;
    }
    
    #nwash-cart > p > .decrement-unicode{
        position: absolute;
        right: 20%;
    }

    #nwash-cart > p > .no-of-item{
        position: absolute;
        right: 15%;
    }

    #owash-cart{
        margin-top: 5%;
        display: none;
    }

   #owash-cart > p{
        color: black;
        font-size: medium;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 2%;
        margin-left: 3%;
      }

    #owash-cart > p > span{
        color: black;
        font-size: large;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        cursor: grab;
        user-select: none;
    }

    #owash-cart > p > .increment-unicode{
        position: absolute;
        right: 10%;
    }
    
    #owash-cart > p > .decrement-unicode{
        position: absolute;
        right: 20%;
    }

    #owash-cart > p > .no-of-item{
        position: absolute;
        right: 15%;
    }

    #pwash-cart{
        margin-top: 5%;
        display: none;
    }

   #pwash-cart > p{
        color: black;
        font-size: medium;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 2%;
        margin-left: 3%;
      }

    #pwash-cart > p > span{
        color: black;
        font-size: large;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        cursor: grab;
        user-select: none;
    }

    #pwash-cart > p > .increment-unicode{
        position: absolute;
        right: 10%;
    }
    
    #pwash-cart > p > .decrement-unicode{
        position: absolute;
        right: 20%;
    }

    #pwash-cart > p > .no-of-item{
        position: absolute;
        right: 15%;
    }

    #dryclean-cart{
        margin-top: 5%;
        display: none;
    }

   #dryclean-cart > p{
        color: black;
        font-size: medium;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 2%;
        margin-left: 3%;
      }

    #dryclean-cart > p > span{
        color: black;
        font-size: large;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        cursor: grab;
        user-select: none;
    }

    #dryclean-cart > p > .increment-unicode{
        position: absolute;
        right: 10%;
    }
    
    #dryclean-cart > p > .decrement-unicode{
        position: absolute;
        right: 20%;
    }

    #dryclean-cart > p > .no-of-item{
        position: absolute;
        right: 15%;
    }

    .total{
        color: black;
        font-size: medium;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 2%;
        margin-left: 3%;
    }

    .total > #total{
        color: black;
        font-size: medium;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        right: 15%;
    }

    #btn{
        display: block;
        margin: auto;
        text-align: center;
        width: 50%;
        height: 50px;
        color: black;
        background-color: white;
        font-size: large;
        font-weight: bolder;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: 5px solid black;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 5%;
    }

    #btn:hover{
        background-color: black;
        color: white;
    }